<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Główna</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
   
    
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/"><img src="{% static 'logo/logo.png'%}"> <span>Bookr<span>Reviews</span></span></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Strona główna</a></li>
      </ul>
      
    <form method="get" action="http://127.0.0.1:8000/book_search/">
        {% csrf_token %}
        {{main_form.as_p}}
        <button type="submit">SZUKAJ</button>
      </form>
      <button class="btn btn-danger navbar-btn">Wyloguj</button>
    </div>
  </nav>

    {% block content %}
    <a href="/books"><h1>Recenzje książek</h1></a>
    <a href="/publishers/new/"><h1>Nie ma jakiegoś wydawnictwa ? Dodaj je !</h1></a>
    {% endblock %}
</body>
</html>