<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Główna</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
   
    
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/"><img src="{% static 'logo/logo.png'%}"> <span>Bookr<span>Reviews</span></span></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Main Page</a></li>
      </ul>
      <a href="/"><button>Click to go to search page</button></a>
      <button class="btn btn-danger navbar-btn">logout *not working yet*</button>
    </div>
  </nav>

    {% block content %}
    <form method="get">
      {{main_form}}
      <button type="submit">Search</button>
    </form>
    <a href="/books"><h1>Book reviews</h1></a>
    <a href="/publishers/new/"><h1>Click to add new publisher</h1></a>
    {{error}}
    <h1>Search results for: <i>{{value}}</i></h1>
    {% for x in search_list%}

     
      <li class="list-group-item">
        <span class="text-info">Title: </span><span> {{x.title}}</span>
        <br>
        <span class="text-info">Publisher: </span><span>{{x.publisher}}</span>
        <br>
        <span class="text-info">Publication date: </span><span>{{x.publication_date}}</span>
        <br>

    </li>
    <br>
    {%endfor%}
    {% endblock %}
</body>
</html>