<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html'%}
    {%block content%}
    <ul class="list-group">
        {% for item in book_list %}
        <li class="list-group-item">
            <span class="text-info">Title: </span><span>{{item.book.title}}</span>
            <br>
            <span class="text-info">Publisher: </span><span><a href="http://127.0.0.1:8000/publishers/{{item.book.publisher}}">{{item.book.publisher}}</a></span>
            <br>
            <span class="text-info">publication date: </span><span>{{item.book.publication_date}}</span>
            <br>
            <span class="text-info">Amount of reviews: </span><span>{{item.number_of_reviews}}</span>
            <br>
            <span class="text-info">Rating: </span><span><mark>{{item.book_rating}}</mark></span>
            <br>
            <a href="{{item.i}}"><button class="btn-info btn">Reviews</button></a>
            {% if user.is_authenticated%}
                <a href="{% url 'review_create' item.book.pk%}">Add a new review</a>
            {% endif %}
        </li>
        <br>

        
        {%endfor%}
    </ul>

    {% endblock %}
</body>
</html>