<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%extends 'base.html'%}

    {%block content%}

    <form method="get">
        {{form}}
        <button type="submit">SZUKAJ</button>
    </form>
    <h1>Search results for: <i>{{value}}</i></h1>
      {% for x in search_list%}

       
        <li class="list-group-item">
          <span class="text-info">Title: </span><span> {{x.title}}</span>
          <br>
          <span class="text-info">Publisher: </span><span>{{x.publisher}}</span>
          <br>
          <span class="text-info">Publication date: </span><span>{{x.publication_date}}</span>
          <br>

      </li>
      <br>
      {%endfor%}
      {{error}}
    {% endblock %}
</body>
</html>