<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%extends 'base.html'%}

    {%block content%}

    
    <ul class="list-group">
        <li class="list-group-item">
            <span class="text-info">Title: </span><span>{{book.title}}</span>
            <br>
            <span class="text-info">Publisher: </span><span>{{book.publisher}}</span>
            <br>
            <span class="text-info">Publication Date: </span><span>{{book.publication_date}}</span>
            <br>
            <span class="text-info">Rating: </span><span><mark>{{book_rating}}</mark></span>
        </li>
        <br>
    </ul> 
    
    <a class="btn btn-primary" href="{% url 'review_create' book.pk %}">Add Review</a>
    <hr>
    <br>
    
    {% for item in rev_list %}
        <br>
        Content: {{item.review.content}}<br>
        Rating: {{item.review.rating}}/10<br>
        Creator name: {{item.review.creator}}<br>
        Date created: {{item.review.date_created}}<br>
        Date edited: {{item.review.date_edited}}<br>
        <a href="{% url 'review_edit' book.pk item.review.pk %}"><button>EDIT</button></a>
        <hr>
    {% endfor %}
    {% endblock %}
</body>
</html>