<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%extends 'base.html'%}

    {%block content%}

    
    <ul class="list-group">
        <li class="list-group-item">
            <span class="text-info">Tytuł: </span><span>{{book.title}}</span>
            <br>
            <span class="text-info">Wydawnictwo: </span><span>{{book.publisher}}</span>
            <br>
            <span class="text-info">Data Publikacji: </span><span>{{book.publication_date}}</span>
            <br>
            <span class="text-info">Ocena: </span><span><mark>{{book_rating}}</mark></span>
        </li>
        <br>
    </ul> 
    
    <a href="/reviews/new/{{book.title}}"><h1 style="text-align: center;">{{no}}</h1></a>


    {% endblock %}
</body>
</html>